{% extends 'base.layout.twig' %}
{% block content %}
  <div class="alert alert-danger alert-dismissible">
    <span>Sign UP is not complete. We caught some problems. Please try again soon.</span>
  </div>

{% endblock %}