{% extends 'base.layout.twig' %}
{% block content %}
  <div class="col-lg-10">
    <div class="alert alert-dismissible alert-success">
      Registration successfull.
    </div>
  </div>
{% endblock %}