<html lang="en">
  <head>
    <title>{{ title }}</title>
    <script src="/resources/scripts/jquery.min.js"></script>
    <script src="/resources/scripts/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/resources/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/resources/styles/main.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% autoescape false %}
          {% block messages %} {% endblock %}
        {% endautoescape %}
      </div>
    </div>
  </body>
</html>